@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

img {
  width: 100%; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dddddd; }

#screen #quizScreen .questionContainer {
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-style: normal; }

#screen #quizScreen .options div button, #screen #quizScreen .options div p {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal; }

#screen #startScreen button, #screen #endScreen .btnRestart, #screen #startScreen, #screen #quizScreen .timeContainer, #screen #quizScreen .btnNext, #screen #endScreen .scoreInfo, .questionLength {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal; }

#screen #startScreen button, #screen #endScreen .btnRestart {
  border: 2px solid #700101;
  background-color: #ffc700;
  padding: 1.5rem 4rem;
  border-radius: 2rem;
  font-size: 2rem;
  margin-top: 6rem;
  cursor: pointer; }

#screen {
  position: relative;
  background-color: #770ffc;
  width: 320px;
  height: 600px;
  border-radius: 2rem; }
  #screen .timerContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: #000;
    border-radius: 2rem 2rem 0 0;
    z-index: 1;
    overflow: hidden; }
    #screen .timerContainer .timer {
      content: "";
      height: 100%;
      width: 0%;
      background-color: #00ff66;
      border-radius: 2rem 0 0 0;
      position: absolute;
      bottom: 0; }
  #screen #startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 5rem;
    color: #fff; }
    #screen #startScreen img {
      width: 130px;
      margin-bottom: 2rem; }
    #screen #startScreen h3 {
      font-size: 2.5rem;
      letter-spacing: 0.05rem; }
  #screen #quizScreen {
    display: none;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    padding-top: 4rem;
    background-color: #fff;
    height: 100%; }
    #screen #quizScreen .timeContainer {
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      gap: 1rem;
      background-color: #770ffc;
      color: #fff; }
      #screen #quizScreen .timeContainer img {
        width: 2.5rem; }
    #screen #quizScreen .questionContainer {
      width: 90%;
      background-color: #ffc700;
      border: 2px solid #700101;
      color: #000;
      padding: 1rem 1.5rem;
      font-size: 1.3rem;
      border-radius: 2rem;
      margin-top: 3rem;
      min-height: 6.5rem; }
    #screen #quizScreen .options {
      padding-top: 4rem;
      width: 100%; }
      #screen #quizScreen .options div {
        padding: 0 3rem;
        position: relative; }
        #screen #quizScreen .options div button {
          background-color: #770ffc;
          border: 0.23rem solid #4601a0;
          color: #fff;
          font-size: 1.4rem;
          text-align: left;
          padding: 1.5rem 6rem;
          border-radius: 2.4rem;
          width: 100%;
          margin-bottom: 1rem;
          transition: background-color 0.2s;
          cursor: pointer; }
          #screen #quizScreen .options div button:hover {
            background-color: #4601a0; }
        #screen #quizScreen .options div p {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          font-size: 3rem;
          text-align: center;
          color: #fff;
          background-color: #4601a0;
          border-radius: 50%;
          width: 5rem;
          left: 30px;
          height: calc(100% - 1rem);
          top: 0; }
    #screen #quizScreen .btnNext {
      display: none;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      border: 2px solid #700101;
      background-color: #ffc700;
      padding: 0.5rem 2rem;
      border-radius: 2rem;
      font-size: 1rem;
      cursor: pointer; }
  #screen #endScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20rem; }
    #screen #endScreen .scoreInfo {
      font-size: 2rem; }
    #screen #endScreen .btnRestart {
      margin-top: 2rem; }

.success {
  background-color: #379237 !important;
  border: 0.23rem solid #1a4d2e !important; }

.danger {
  background-color: #b80000 !important;
  border: 0.23rem solid #580100 !important; }

.questionLength {
  background-color: #ffc700;
  color: #000;
  border: 0.2rem solid #580100;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  margin-top: 0.5rem; }
